<div class="w-full">
  <div class="p-6">
    <h3 class="text-xl font-semibold mb-5">Información básica</h3>

    <!-- Form adapted to the design of the image -->
    <form
      (ngSubmit)="onSubmit()"
      class="grid grid-cols-1 md:grid-cols-3 gap-x-4 gap-y-3"
    >
      <!-- First row: RFC, Name, Mail -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">
          RFC Cliente (mayus)
        </label>
        <input
          name="rfc"
          id="rfc"
          type="text"
          placeholder="RFC Cliente"
          [ngModel]="userData().rfc"
          (ngModelChange)="updateField('rfc', $event)"
          class="w-full py-2 px-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-[#FC7516] placeholder:text-[#D5D5D5] text-gray-700 shadow shadow-black/10 text-sm"
        />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">
          Nombre
        </label>
        <input
          name="nombre"
          id="nombre"
          type="text"
          placeholder="Nombre"
          [ngModel]="userData().nombre"
          (ngModelChange)="updateField('nombre', $event)"
          class="w-full py-2 px-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-[#FC7516] placeholder:text-[#D5D5D5] text-gray-700 shadow shadow-black/10 text-sm"
        />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">
          Correo
        </label>
        <input
          name="correo"
          id="correo"
          type="email"
          placeholder="Correo"
          [ngModel]="userData().correo"
          (ngModelChange)="updateField('correo', $event)"
          class="w-full py-2 px-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-[#FC7516] placeholder:text-[#D5D5D5] text-gray-700 shadow shadow-black/10 text-sm"
        />
      </div>

      <!-- Second row: ZIP code, State, City -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1"> CP </label>
        <input
          name="cp"
          id="cp"
          type="text"
          placeholder="CP"
          [ngModel]="userData().cp"
          (ngModelChange)="updateField('cp', $event)"
          class="w-full py-2 px-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-[#FC7516] placeholder:text-[#D5D5D5] text-gray-700 shadow shadow-black/10 text-sm"
        />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">
          Estado
        </label>
        <input
          name="estado"
          id="estado"
          type="text"
          placeholder="Estado"
          [ngModel]="userData().estado"
          (ngModelChange)="updateField('estado', $event)"
          class="w-full py-2 px-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-[#FC7516] placeholder:text-[#D5D5D5] text-gray-700 shadow shadow-black/10 text-sm"
        />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">
          Ciudad
        </label>
        <input
          name="ciudad"
          id="ciudad"
          type="text"
          placeholder="Ciudad"
          [ngModel]="userData().ciudad"
          (ngModelChange)="updateField('ciudad', $event)"
          class="w-full py-2 px-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-[#FC7516] placeholder:text-[#D5D5D5] text-gray-700 shadow shadow-black/10 text-sm"
        />
      </div>

      <!-- Third row: Colony, Street, Ext No., Ext. -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">
          Colonia
        </label>
        <input
          name="colonia"
          id="colonia"
          type="text"
          placeholder="Colonia"
          [ngModel]="userData().colonia"
          (ngModelChange)="updateField('colonia', $event)"
          class="w-full py-2 px-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-[#FC7516] placeholder:text-[#D5D5D5] text-gray-700 shadow shadow-black/10 text-sm"
        />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">
          Calle
        </label>
        <input
          name="calle"
          id="calle"
          type="text"
          placeholder="Calle"
          [ngModel]="userData().calle"
          (ngModelChange)="updateField('calle', $event)"
          class="w-full py-2 px-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-[#FC7516] placeholder:text-[#D5D5D5] text-gray-700 shadow shadow-black/10 text-sm"
        />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">
          Número Ext
        </label>
        <input
          name="numeroExt"
          id="numeroExt"
          type="text"
          placeholder="Número Ext"
          [ngModel]="userData().numeroExt"
          (ngModelChange)="updateField('numeroExt', $event)"
          class="w-full py-2 px-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-[#FC7516] placeholder:text-[#D5D5D5] text-gray-700 shadow shadow-black/10 text-sm"
        />
      </div>
    </form>
  </div>
</div>
